<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="use.js"></script>
<button id="search"></button>
</body>
</html>